<% if (messages.error) { %>
    <div class="alert alert-danger">
        <%= messages.error %> 
    </div>
<% } %>
<% if (messages.info) { %>
    <div class="alert alert-success">
        <%= messages.info %> 
    </div>
<% } %>
